<div class="ui top fixed menu">
  <a class="item" href="#">
    <h2 class="ui header">
      <i class="shopping bag icon"></i>
      <div class="content">
        Shop X
      </div>
    </h2>
  </a>
  <a class="item" routerLink="/products">
    Product List
  </a>
  <a class="item" routerLink="/products/add">
    Add Product
  </a>
  <a class="item" routerLink="/categories">
    Category List
  </a>
  <a class="item" routerLink="/categories/add">
    Add Category
  </a>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
