<div class="ui" style="padding: 20px;">
    <div class="ui icon mini header">
      Categories
    </div>
    
    <div class="ui grid" style="width: 100%; margin: auto;">
      <div class="four wide column" *ngFor="let category of categories" style="height: 100%;">
        <div class="ui items" style="height: 100%; border: 1px solid #ddd; border-radius: 5px; padding: 10px;">
          <div class="item" style="height: 100%;">
            <div class="content">
              <a class="header">{{category.name}}</a>
              <div class="description">
                <p>{{category.description}}</p>
              </div>
              <div class="extra">
                <div class="ui two bottom attached buttons">
                  <div class="ui basic green button" routerLink="/categories/update/{{category.id}}">EDIT</div>
                  <div class="ui basic red button" (click)="deleteCategory(category.id)">DELETE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  